<div class="nav-side-menu">
  <div class="brand">Brand Logo</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">

      <a href='#' style='color: white;text-decoration: none;'>
        <li>
          Dashboard
        </li>
      </a>

      <li routerLink='races/lists' data-toggle="collapse" data-target="#products" class="collapsed ">
        <a>Seasons</a>
      </li>


    </ul>
  </div>
</div>